// app global css in SCSS form

//container
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

//This does not look good
// @media (min-width: $xs-breakpoint) {

//     .container,
//     .container-sm {
//         max-width: 540px;
//     }
// }

@media (min-width: $sm-breakpoint) {

    .container,
    .container-sm,
    .container-md {
        // max-width: 920px;
    }
}

@media (min-width: $md-breakpoint) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 1140px;
    }
}

@media (min-width: $lg-breakpoint) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1440px;
    }
}

.body--light {
	background-color: $grey-1;
}

//fix automatically
// .body--dark {
// 	background-color: bisque;
// }

.body--light .topHeaderBar{
	background-color: $grey-1;
	color: $grey-8
}
.body--dark .topHeaderBar{
	background-color: $grey-10;
	color: $grey-2
}

.body--light .tagChip{
	background-color: $grey-10;
	color: $grey-2
}
.body--dark .tagChip{
	background-color: $grey-8;
	color: $grey-4
}

.body--light .infoChip{
	background-color: $grey-4;
	color: $grey-10
}
.body--dark .infoChip{
	background-color: $grey-8;
	color: $grey-4
}
